@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* collapsibleNavId{
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -25px;
    height: 50px;
} */

html, body {
    font-family: 'Poppins', sans-serif;
}

.padding {
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.headline {
    width: 75%;
    margin: 0 auto;
}

/* underline of each section heading */
.headline hr {
    border-top: 5px solid rgb(19, 123, 184);
    width: 20%;
    margin-top: .3rem;
    margin-bottom: 1rem;
} 

main p {
    text-align:justify;
}

.navbar {
    /* overflow: hidden; */
    /* transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out; */
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 .5rem .5rem rgba(209, 153, 153, 0.1);
    z-index: 1;
    
}

.navbar-nav li {
    padding-right: 40px;
}

.navbar-link {
    text-align: center;
    text-decoration: none;
}

/* Add logo */
.navbar #logo {
    font-size: 50px;
    font-weight: bold;
    transition: 0.4s;
}

.navbar-brand {
    height: 0 !important;
}

.carousel-inner img {
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.fa-map {
    color: #e54d26;
}

.fa-hard-hat {
    color: rgb(216, 216, 49);
}

.fa-drafting-compass {
    color: #2163af;
}

.fa-map, .fa-hard-hat, .fa-drafting-compass {
    font-size: 3rem;
    margin: 1rem;
}

/* .fixed-background {
    padding: 10rem 0;
}

.fixed-image {
    background-image: url('../images/building.jpg');
    position: fixed;
} */

/* Project Item ============================== */
.hover-3::after {
    content: '';
    /* width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 1px solid #fff; */
    position: absolute;
    /* top: 1.5rem;
    left: 1.5rem; */
    z-index: 90;
    transition: all 0.3s;
    transform: scale(1.1);
    opacity: 0;
    display: block;
}

.hover-3-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 99;
}

.hover-3-description {
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s;
}

/* .hover-3 img {
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

.hover-3 .hover-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img {
    width: 100%;
}

.hover-3:hover::after {
    opacity: 1;
    transform: none;
}

.hover-3:hover .hover-3-description {
    opacity: 1;
    transform: none;
}

.hover-3:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.8);
}

/* Project Item general ============================== */
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
    height: 30rem;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

/* .hover-content {
    position: relative;
    z-index: 99;
  } */

.page-footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

.hr-light {
    border-top: 1px solid #d5d5d5;
    width: 20%;
    align-items: center;
}

