@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body {
    font-family: 'Poppins', sans-serif;
    user-select: none; /* Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

img{
    pointer-events: none;
}

.padding {
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.headline {
    width: 75%;
    margin: 0 auto;
}

/* underline of each section heading */
.headline hr {
    border-top: 5px solid rgb(19, 123, 184);
    width: 20%;
    margin-top: .3rem;
    margin-bottom: 1rem;
} 

main p {
    text-align:justify;
}

.navbar {
    overflow: hidden;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 0;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-link {
    text-align: center;
    text-decoration: none;
}

.navbar .navbar-brand img {
    height: 50px;
}

.carousel-inner img {
    margin: 0 auto;
    padding-top: 50px;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 82vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    /* -webkit-background-size: cover;  */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1, h4{
    text-transform: uppercase;
    /* text-shadow: 2px 2px 2px #000; */
    /* text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
            2px -1px 0 #000000, 3px 0 0 #000000; */
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
            0 3px 0 #777777, 0 4px 0 #666666,
            0 5px 0 #555555, 0 6px 0 #444444,
            0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
            0 9px 10px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev {
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
}

.carousel-control-next {
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}

.fa-map {
    color: #e54d26;
}

.fa-hard-hat {
    color: rgb(216, 216, 49);
}

.fa-drafting-compass {
    color: #2163af;
}

.fa-map, .fa-hard-hat, .fa-drafting-compass {
    font-size: 3rem;
    margin: 1rem;
}

/* .fixed-background {
    padding: 10rem 0;
}

.fixed-image {
    background-image: url('../images/building.jpg');
    position: fixed;
} */

/* Project Item ============================== */
.hover-3::after {
    content: '';
    /* width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 1px solid #fff; */
    position: absolute;
    /* top: 1.5rem;
    left: 1.5rem; */
    z-index: 90;
    transition: all 0.3s;
    transform: scale(1.1);
    opacity: 0;
    display: block;
}

.hover-3-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 99;
}

.hover-3-description {
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s;
}

/* .hover-3 img {
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

.hover-3 .hover-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img {
    width: 100%;
    transform: scale(1.1);
}

.hover-3:hover::after {
    opacity: 1;
    transform: none;
}

.hover-3:hover .hover-3-description {
    opacity: 1;
    transform: none;
}

.hover-3:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.8);
}

/* Project Item general ============================== */
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
    height: 30rem;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    /* transition: all 0.3s; */
    transition: transform .5s ease;
}

/* .hover-content {
    position: relative;
    z-index: 99;
  } */

.page-footer {
    background-color: #233853f6; 
    /* grey color - 3f3f3f */
    color: #d5d5d5;
}

.hr-light {
    border-top: 1px solid #d5d5d5;
    padding-bottom: 20px;
    width: 20%;
    margin: auto;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-list li {
    padding: 5px;
    margin: 0 20px;
    text-align: justify;
}

.map-container{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;

}

.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
